body
{
    width: 100%;
    height: 100%;
}
#header
{
    padding-left: 0;
    padding-right: 0;
    border-bottom: solid 3px #f49401;
}
#logo
{
    margin-bottom: 5px;
}
#user
{
    margin-top: 2%;
    font-size: 1.5em;
}
.menu
{
    margin-top: 5%;
}
.menu li
{
    float: left;
    display: inline-block;
    margin-right: 20px;
    list-style: none;
    font-size:2em;
}
a
{
    text-decoration: none;
}
.title
{
    margin-top: 3%;
}
.ObjetMail, .CorpsMessage
{
    width: 100%;
}
.ck p
{
    height: 35%!important;
    max-height: 35%!important;
}
#LabelForm
{
    font-size: 1.5em !important;
    font-weight: 600 !important;
}
.tox-tinymce
{
    height: 450px!important;
    min-height: 450px!important;
    max-height: 450px!important;
}